#logo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position:  absolute;
    padding-top: 10px;
    padding-left: 10px;


}
*{
    margin: 0;
    padding: 0;
}
body{
   margin-left: 10px; 
 
}
ul li{
    font-style: italic;
     
    margin-left: 20px;
}
#name{
    position: relative;
    margin-left: 500px;
    padding-top: 140px;
    font-style: initial;
    font-size: 50px;
    letter-spacing: 100px;

} 
.title{
    background-color: rgb(156, 160, 160);
     
    
} 
.nav-item{
    padding-left: 100px;
    list-style-type: none;
     display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
     
}
.nav-item li{  
    display: inline-block; 
    background-color: rgb(75, 205, 110);
    transition: transform .5s;
     
}
.nav-item li a{
    display:block;
    text-decoration: none;
   
 
    text-align: center;
    padding: 10px 80px;
    margin-right: 10px;
}

.nav{
     padding-top: 10px;
    padding-left: 350px;
     width: 1000px;
     position:  absolute;
}

 .nav-item li:hover{
   background-color: rgb(47, 216, 95);
   transform: scale(1.02);
}
.opacity{
    font: 1em sans-serif;
    font-size: 20px;
     margin-top: 70px;
    margin-left: 1100px;
     position:  absolute;
     width: 140px;
     height: 50px;
     color: rgb(116, 116, 219);
     background-color: rgb(31, 31, 69);
     border-radius: 20px;
    


}
#opac{
    padding-left: 15px;
    padding-top: 10px;
    
}
a{
    text-decoration: none;  
}
.social{
    border-radius: 50%;
   
    padding-top: 100px;
    padding-left: 1300px;
    
    

}
#fb{
    width: 20px;
    height: 20px;
    

}
#wp{
    width: 20px;
    height: 20px; 
}
#map{
    width: 20px;
    height: 20px; 

}
#theam{
   font-family: 'Times New Roman', Times, serif;
   font-size: 50px;
   text-align: center;
   margin-top: 40px;

}
#hr1{
    margin-left: 700px;
}

 
.image1{
    background-image: url(https://img.freepik.com/premium-vector/illustration-vector-graphic-cartoon-character-influencer_516790-110.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 50px;
    width: 500px;
    height: 800px;
     position: absolute;
    animation-name: animi1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}
@keyframes animi1{
    0%{
        background-image:url(https://img.freepik.com/premium-vector/illustration-vector-graphic-cartoon-character-influencer_516790-110.jpg?w=2000);
    }
    25%{
        background-image:url(https://img.freepik.com/premium-vector/illustration-vector-graphic-cartoon-character-remote-discussion_516790-1428.jpg);
    }
    50%{
        background-image:url(https://d15yx0mnc9teae.cloudfront.net/sites/default/files/2021-10/contact-us-showcase.png);
    }
    75%{
        background-image:url(https://img.freepik.com/premium-vector/illustration-vector-graphic-cartoon-character-communication-internet_516790-261.jpg);
    
    }
    100%{
        background-image: url(https://upstox.com/app/themes/upstox/dist/img/contact/first-fold-image.png);
    }

}
.mainform{
    position: absolute;
}
.part1{
    margin-left: 600px;
    margin-top: 50px;
    position: absolute;

}.part2{
    margin-left: 1100px;
    margin-top: 50px;
    position: absolute;
}

#cnt{
    font-size: 30px;
    margin-left: 600px;
    margin-top: 50px;
    letter-spacing: 5px;
    
}
#cntdeatail{
    margin-left: 600px;
    margin-top: 50px;
}
.boxcontainer{
    width: 300px;
    height: 50px;
}
#female{
    margin-left: 180px;
}
.boxcontainer1{
    width: 800px;
    height: 50px;
}
.boxcontainer2{
    width: 800px;
    height: 100px;
}
#btn1{
    width: 150px;
    height: 50px;
    position: absolute;
    background-color: rgb(176, 189, 189);
    cursor: pointer;
    background-color:B3005E ;
}
#btn1:hover{
    background-color: E90064;
}
#btn2:hover{
    background-color:E90064;
}
#btn2{
    width: 150px;
    height: 50px;
    margin-left: 200px;
    position: relative;
    background-color: rgb(176, 189, 189);
    cursor: pointer;
    background-color:B3005E ;
}





#footerimg{
    height: 600px;
    margin-top:1000px;
    width: 1490px;
    opacity: 70%;
    position:absolute;
    
   

}
.footer{
    position:relative;
    margin-top: 800px;
    
}
.ul3{
    position: absolute;
    margin-top: 250px;
    padding-left: 150px;
    
    color: rgb(226, 17, 17);

}
.footer li{
    list-style-type: none;
    line-height:30px ;
    color: rgb(0, 0, 0);
    text-decoration-color: black;
}
.ul4{
    position: absolute;
    margin-top: 250px;
    padding-left: 350px;
    
    color: rgb(247, 8, 8);

}
.ul5{
    position: absolute;
    margin-top: 250px;
    padding-left: 550px;
    
    color: black;

}
.ul6{
    position: absolute;
    margin-top: 250px;
    padding-left: 750px;
    
    color: black;

}
.hr3{
    margin-top: 400px;
    position:  absolute;
    height: 4px solid;
}
.add{
    position:  absolute;
    margin-top: 450px;
    padding-left: 150px;
}
.mail{
    position:  absolute;
    margin-top: 450px;
    padding-left: 450px;
}
.all{
    position: absolute;
    margin-top: 350px;
    padding-left: 1150px;
    
    color: black;

}
.footerimage{
    
}
.sclicn{
    
} 
#callicn{
    border: radius 100%;;
    width: 30px;
    height: 30px;
    padding-top: 400px;
    padding-left: 1400px;
    opacity: 120%;
}
#insticn{
    border-radius: 0px;
    width: 30px;
    height: 30px;
    padding-top: 20px;
    padding-left: 1400px;
    opacity: 120%;
}
#fbicn{
    border-radius: 100px;
    width: 30px;
    height: 30px;
    padding-top: 20px;
    padding-left: 1400px;
    opacity: 120%;
}
#twittericn{
    border-radius: 100px;
    width: 30px;
    height: 30px;
    padding-top: 20px;
    padding-left: 1400px;
    opacity: 120%;

}